<section class="todoapp">
  <header class="header">
    <app-title></app-title>
    <!-- 使用ngModel需要import FormsModule -->
    <input class="new-todo"
            [placeholder]="inputHint"
            (keyup.enter)="addTodo()"
            [(ngModel)]="todo"
            autofocus>
  </header>
  <!-- This section should be hidden by default and shown when there are todos -->
  <section class="main" *ngIf="todos.length>0">
    <input class="toggle-all" type="checkbox">
    <label for="toggle-all">Mark all as complete</label>
    <ul class="todo-list">
      <!-- These are here just to show the structure of the list items -->
      <!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
      <li *ngFor="let todo of todos" [class.completed]="todo.done">
        <div class="view" [ngStyle]="{ 'color': todo.done ? 'green' : 'red' }">
          <input class="toggle" type="checkbox" [(ngModel)]="todo.done">
          <label>{{todo.text}}</label>
          <button class="destroy"></button>
        </div>
        <input class="edit" value="Create a TodoMVC template">
      </li>
    </ul>
  </section>
  <!-- This footer should hidden by default and shown when there are todos -->
  <app-footer [todos]="todos"></app-footer>
</section>
<footer class="info">
  <p>Double-click to edit a todo</p>
  <!-- Remove the below line ↓ -->
  <p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
  <!-- Change this out with your name and url ↓ -->
  <p>Created by <a href="http://todomvc.com">you</a></p>
  <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>



<table>
  <tr>
    <td [attr.colspan]="colspan">Two Column</td>
    <td>One Column</td>
  </tr>
</table>
<!--
  colspan="{{h}}" is just sugar for [colspan]="h" and
  this in turn means: bind h to colspan property.
  There is no colspan property in html, only colspan attribute.
If you want to bind to an attribute use [attr.colspan]="h" syntax -->

